#col5{
	background-color:red;
	margin:5px;
	margin-top:10px;
	margin-bottom:10px;
}

#verticalmenu {
 
list-style: none;
padding: 0;
margin: 0;
 
}
 
#verticalmenu li a {
 
text-decoration: none;
font-family: Georgia, "Times New Roman", Times, serif;
background-color: #5c755e;
color: white;
display: block;
width: 175px;
border: 1px solid red;
border-radius: 2px;
text-align: center;
height:50px;
vertical-align: middle;
line-height: 25px;
margin-bottom:2px;
 
 
}
#verticalmenu li a:hover {
 
text-decoration: none;
font-family: Georgia, "Times New Roman", Times, serif;
background-color: blue;
color: red; 
display: block;
width: 175px;
margin-bottom:2px;
border: 0px solid red;
border-radius: 2px;
text-align: center;
height:50px;
line-height: 25px; 
}
#nav {
 
background-color: BLACK;
height: 35px;
font-size: 25px;
font-weight:bold;
font:Tahoma; 
border-radius:2px; 
 
}
 
#nav ul {
   
padding: 0;
margin: 0;
list-style-type: none;
text-align: center;
 
}
 
#nav li {
   
display: inline;
padding:15px;
vertical-align:middle;
}
 
#nav a {
   
text-decoration:none;
padding: 8px 8px 8px 8px;
color: white;
vertical-align:middle
}
 
#nav a:hover {
 
color: RED;
background-color:BLACK;
 
}
#navbar{
	background-color:black;
	border-radius:5px;
	margin:3px;
}

#col1{
	background-color:black;
	border-radius:5px;
	margin:3px;
}
#col2{
	background-color:black;
	border-radius:5px;
	margin:3px;
}
#col3{
	
    min-height:163px;
	border-radius:5px;
	margin-top:10px;
	margin-left:0px;
	margin-right:10px;
	margin-bottom:10px;
}
#footer{
	background-color:black;
	border-radius:5px;
}
.thumbnail{
	color:white;
	font-family:helvetica;
	font-weight:bold;
	background-color:black;
}
#footerh{
	color:white;
	font-family:Georgia;
	font-weight:bold;
	text-decoration:none;
	text-align:center;
}
img{
	border:2px black solid;
	margin:5px;
	padding:2px;
}